<header class = "Site-header">
  <p class = "logocontainer">
     <a href = "/{{ site.baseurl }}" class = "logo">PACO</a>
     <span class = "quote">Paderborn Approximate <br> CPU Core</span>
  </p>
  <nav class = "Site-nav">
     <ul>
        <li class = "active"><a href = "{{ site.baseurl }}/idea">Idea</a></li>
        <li><a href = "/{{ site.baseurl }}/gettingstarted">Getting Started</a></li>
        <li><a href = "/{{ site.baseurl }}/tutorial">Tutorial</a></li>
        <li><a href = "/{{ site.baseurl }}/documentation">Documentation</a></li> 
        <li><a href = "/{{ site.baseurl }}/publications">Publications</a></li>
     </ul>
  </nav>
  <a href = "https://github.com/PACO-CPU/PACO">
     <img src = "assets/images/githublight.png" alt = "Github" width = "30px" height= "30px" class = "logo" >
  </a>
</header>
