<header class = "Site-header">
   <a href = "#0" class = "logo">PACO</a>
   <span class = "quote">Paderborn Approximate <br> CPU Core</span>
  <nav class = "Site-nav">
    <ul>
      <li class = "active"><a href = "#0">Idea</a></li>
      <li><a href = "#0">Getting Started</a></li>
      <li><a href = "#0">Tutorial</a></li>
      <li><a href = "#0">Documentation</a></li> 
    </ul>
  </nav>
  <img src = "assets/images/githublight.png" alt = "Github" width = "30px" height= "30px" class = "logo" >
</header>
