html{
  height: 100%;
}
body {
  margin: 0;
}

h1 {
  margin: 0;
}
.Site {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Site-header{
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  border-color: #121212;
  border-width: 0 0 1px;
  justify-content: space-around;
}
.Site-nav ul{
   list-style: none;
   display: flex;
   margin: 0;
}
.Site-nav a {
   text-transform: uppercase;
   text-decoration: none;
   padding: 25px;
   display: inline-block;
   color: white;
}

.Site-nav .active a {
   font-weight: bold;
   color:#20AA76;
}

.Site-content{
  flex: 1 0 auto;
  width: 100%; 
}
.Site-footer{
  display: flex;
  width: 100%;
  margin: auto;
  height: 70px;
  align-items: center;
  background-color: #222;
  color: white;
  border-color: #121212;
  border-width: 1px 0 0 0;
}
.logocontainer{
  display: flex;
}
.logo{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-right: 15px;
}
.quote{
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
}
.Index-heading {
  width: 100%;
  height: 70px;
  margin-bottom: 25px;
}
.Index-content{
  width: 80%;
  margin: auto;
}


